@import "medias";
@import "header";
@import "main";
@import "footer";

body {
  background-color: green;

  @include medium {
    background-color: yellow;
  }

  @include large {
    background-color: red;
  }
}
